*, *:after, *:before{
  box-sizing: border-box;
}

html, body{
  font-size: 18px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav{
  height: 95px;
  width: 100%;
  background: #202020;
  color: #ffffff;
}

footer{
  height: 150px;
  width: 100%;
  overflow: hidden;
  background: #202020;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.about{
  max-width: 70%;
  padding: 1.5rem;
  text-align: left;
}

.img--nav{
  padding: 5px 0 0 10px;
}

.nav--inline{
  display: inline-block;
  vertical-align: middle;
}

.header--nav{
  padding-left: 100px;
}

.sociales{
  position: absolute;
  top: 5px;
  right: 10px;
}

.r--sociales{
  padding-right: 8px;
  height: 32px;
  width: 32px;
}
.inline--footer{
  display: inline-block;
  padding-left: 10px;
}
